<div class="about">
 <p>
	 Hello There! I'm Austin Salz, and I am a junior at <a href="https://www.iastate.edu">Iowa State University</a> studying <a href="https://www.se.iastate.edu/" > software engineering. </a> 
	<h4>Facts about me</h4>
	<p>
		<ul>I was Iowa born and raised.</ul>
		<ul>My hobbies include: bicycling, longboarding, coding, hunting, and gaming</ul>
		<ul>I have ridden on <a href="https://ragbrai.com/">RAGBRAI</a> almost every year since 2004, and most recently completed the <b>100 Mile Century Karras-loop</b> in 2014</ul>
		<ul></ul>
	</p>
	
	
</div>