<div class="about">
	<p>
		Hello There! I'm <b>Austin Salz</b>, and I am a junior at Iowa State University studying <b>Software Engineering.</b> 
	</p>
	<h4>Where I am from</h4>
	<p>
		I was born and raised in Algona, Iowa. I went to Bishop Garrigan High School.
	</p>
	<map center="[43.07,-94.23]" disable-default-u-i="true" disable-double-click-zoom="true" draggable="false" draggable-cursor="help" dragging-cursor="move" keyboard-shortcuts="false" max-zoom="12" min-zoom="12"></map>
	<h4>Previous Experiences</h4>
	<p>
		<li>2014 Summer internship at <a href="https://www.principal.com/index.shtm">Principal Finacial Group</a> in Des Moines.</li>
	</p>
</div>