<div class="courses">
	<h2>Courses</h2>
	<div class="course-container">
		<h3>Computer Science 228
Introduction to Data Structures</h3>
		<p>An object-oriented approach to data structures and algorithms. Object-oriented analysis, design, and programming, with emphasis on data abstraction, inheritance and subtype polymorphism. Abstract data type specification and correctness. Collections and associated algorithms, such as stacks, queues, lists, trees. Searching and sorting algorithms. Graphs. Data on secondary storage. Analysis of algoritms. Emphasis on object-oriented design, writing and documenting</p>
	</div>
	<div class="course-container">
		<h3>Computer Science 363*
Introduction to Database Management Systems</h3>
		<p>Relational, object-oriented, and semistructured data models and query languages. SQL, ODMG, and XML standards. Database design using entity-relationship model, data dependencies and object definition language. Application development in SQL-like languages and general purpose host languages with application program interfaces. Information integration using data warehouses, mediators and wrappers. Programming Projects. *Currently Taking - Fall 2014</p>
	</div>
	<div class="course-container">
		<h3>Computer Science 309
Software Development Practices
</h3>
		<p>A practical introduction to methods for managing software development. Process models, requirements analysis, structured and object-oriented design, coding, testing, maintenance, cost and schedule estimation, metrics. Programming project course.
		</p>
	</div>
	<div class="course-container">
		<h3>
Computer Science 227
Introduction to Object-oriented Programming
</h3>
		<p>
			An introduction to object-oriented design and programming techniques. Symbolic and numerical computation. Recursion and iteration. Modularity procedural and data abstraction, specifications and sub-typing. Emphasis on principles of programming and object-oriented design through extensive practice in design, writing, running, debugging, and reasoning about programs.
		</p>
	</div>
	<div class="course-container">
		<h3>
Computer Engineering 281
Digital Logic
</h3>
		<p>Number systems and representation. Boolean algebra and logic minimization. Combinational and sequential logic design. Arithmetic circuits and finite state machines. Use of programmable logic devices. Introduction to computer-aided schematic capture systems, simulation tools, and hardware description languages. Design of simple digital systems.
		</p>
	</div>
	
		<div class="course-container">
		<h3>
Computer Science 229*
Advanced Programming Techniques

</h3>
		<p>Object-oriented programming experience using a language suitable for exploring advanced topics in programming. Topics include memory management, parameter passing, inheritance, compiling, debugging, and maintaining programs. Significant programming projects.
			*Currently Taking - Fall 2014
		</p>
	</div>
	
		<div class="course-container">
		<h3>
Math 267
Elementary Differential Equations and Laplace Transforms
</h3>
		<p>Solution methods for ordinary differential equations. First order equations, linear equations, constant coefficient equations. Eigenvalue methods for systems of first order linear equations. Introduction to stability and phase plane analysis. Including Laplace transforms and series solution to ordinary differential equations.
		</p>
	</div>


</div>